<div class="container-fluid h-100">
  <div class="row h-100">
    <div
      class="col-md-6 bg-primary d-flex align-items-center justify-content-center"
    >
      <div class="max-w-md p-4">
        <div class="text-center mb-4">
          <h1 class="h3 fw-bold">Bienvenido</h1>
          <p class="text-muted fx-bold">
            Inicia sesión para acceder a tu cuenta
          </p>
        </div>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="example@email.com"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <button type="submit" class="btn btn-success w-100">
            Iniciar sesión
          </button>
        </form>
        <p class="text-center mt-3 text-muted">
          ¿No tienes una cuenta?
          <a href="#" class="text-decoration-underline">Regístrate</a>
        </p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="max-w-md p-4">
        <div class="text-center mb-4">
          <h1 class="h3 fw-bold">Regístrate</h1>
          <p class="text-muted">
            Crea una cuenta para acceder a nuestros servicios
          </p>
        </div>
        <form>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="first-name" class="form-label">Nombres</label>
              <input
                type="text"
                class="form-control"
                id="first-name"
                placeholder="John"
                name="nombres"
                [(ngModel)]="nombres"
              />
            </div>
            <div class="col-md-6">
              <label for="last-name" class="form-label">Apellidos</label>
              <input
                type="text"
                class="form-control"
                id="last-name"
                placeholder="Doe"
                name="apellidos"
                [(ngModel)]="apellidos"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="id-number" class="form-label">Cédula</label>
            <input
              type="text"
              class="form-control"
              id="id-number"
              placeholder="12345678"
              name="cedula"
              [(ngModel)]="cedula"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="example@email.com"
              name="reg_email"
              [(ngModel)]="reg_email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="examplePassword"
              name="reg_password"
              [(ngModel)]="reg_password"
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              placeholder="+1 (123) 456-7890"
              name="telefono"
              [(ngModel)]="telefono"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100"
            (click)="register()"
          >
            Registrarse
          </button>
        </form>

        <p class="text-center mt-3 text-muted">
          ¿Ya tienes una cuenta?
          <a href="#" class="text-decoration-underline">Inicia sesión</a>
        </p>
      </div>
    </div>
  </div>
</div>