<div class="container mt-5">
  <form (ngSubmit)="calcularImpuestoRenta()">
    <h1 class="text-center text-primary mb-4">Calcular Impuesto a la Renta</h1>

    <div class="mb-3">
      <label for="cedula" class="form-label">Número de Cédula</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="cedula"
          name="cedula"
          [(ngModel)]="cedula"
          pattern="^\d{10}$"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="sueldoAnual" class="form-label">Ingreso Anual</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="sueldoAnual"
          name="sueldoAnual"
          [(ngModel)]="sueldoAnual"
          min="0"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="salud" class="form-label">Gastos en Salud</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="salud"
          name="salud"
          [(ngModel)]="salud"
          min="0"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="educacion" class="form-label">Gastos en Educación</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="educacion"
          name="educacion"
          [(ngModel)]="educacion"
          min="0"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="vestimenta" class="form-label">Gastos en Vestimenta</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="vestimenta"
          name="vestimenta"
          [(ngModel)]="vestimenta"
          min="0"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="vivienda" class="form-label">Gastos en Vivienda</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="vivienda"
          name="vivienda"
          [(ngModel)]="vivienda"
          min="0"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="alimentacion" class="form-label">Gastos en Alimentación</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="alimentacion"
          name="alimentacion"
          [(ngModel)]="alimentacion"
          min="0"
          required
        />
      </div>
    </div>

    <button class="btn btn-primary w-100 mt-3">Calcular</button>
  </form>
</div>
